/* .text {
  font-size: 13vmin;
} */

.container {
  font-size: clamp(120px, 3.4vw,145px);
  line-height: 145px;
  letter-spacing: -0.5px;
  white-space: 'nowrap';

}
@media screen and (max-width: 600px) {
  .container {
    font-size: 3.5rem;
    line-height: 45px;
    letter-spacing: -4px;
  }
}
